spring:
  application:
    name: lab5

  datasource:
    password: 1
    url: jdbc:postgresql://localhost:5432/lab5
    username: postgres

  jpa:
    hibernate:
      ddl-auto: create-drop

    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

        format_sql: true
    show-sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always

  main:
    allow-bean-definition-overriding: true

server:
  port: 8080

